.Calendar {
    height:300px;
    width:400px;
    margin:0;
    padding:0;
}


@media only screen (min-width:1080px){
    .Calendar {
        display:flex;
        height:400px;
        width:300px;
    }
}
