.Header {
    grid-column: var(--grid-max-width);
    grid-row: 2 / 3;
    background-color:#25135b;
}

.Header > div > canvas {
    background-color:var(--header-bg);
    height:var(--header-size) !important;
}
