nav > a {
    color: black;
    font-size: 110%;
}

nav > a:hover {
    text-decoration: none;
}

.nav {
    padding-bottom: 16px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.nav-is-active {
    border-bottom: 3px solid #03a9f4 ;
}