nav > a {
    color: #f8f8ff;
    font-size: 110%;
}

nav > a:hover {
    color: #f8f8ff;
    text-decoration: none;
}
.nav {
    background-color: #263238;
}
.nav-is-active {
    border-bottom: 3px solid #03a9f4 ;
}