html {
  background-color: #03A9F4;
}
body {
  margin: 0;
  padding: 0;

  width: 100vw;
  height:100vh;

  background-color: #263238;

}

/* .increase-padding {
  padding-top: 30px;
  padding-right: 10%;
  padding-left: 10%;
  line-height: 200%;
  font-weight: 400;
}  */
@media (min-width: 629px) {
  body {
    display: block;
    margin: auto !important;
    border-left: 3px solid #455A64;
    border-right: 3px solid #455A64;
    width: 629px;
  }
 }